<%- include ("../_partial/_header.ejs") %>

    <div style="padding: 10%; ">

        <div style="width: 50%; margin-left: auto; margin-right: auto;">
            <form>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="staffEmail" class="form-control" required />
                    <label class="form-label" for="staffEmail">Email address</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" id="staffPassword" class="form-control" required />
                    <label class="form-label" for="staffPassword">Password</label>
                </div>

                <!-- Submit button -->
                <button type="button" class="btn btn-primary btn-block mb-4" style="background-color: #2a3353;"
                    onclick="navigate()">
                    Sign in
                </button>

            </form>

        </div>
    </div>

    <script>
        function navigate() {
            var semail = document.getElementById("staffEmail").value;
            var spassword = document.getElementById("staffPassword").value;

            if (semail == "blueorchid@gmail.com" && spassword == "blueorchid123") {
                console.log('success');
            }
            else if (semail == "" && spassword == "") {
                console.log('Fields Empty');
            }
            else {
                console.log('unsuccess');
            }
        }
    </script>


    <%- include ("../_partial/_footer.ejs") %>