<%- include ("_partial/_header.ejs") %>

    <div style="background-color: rgb(216, 216, 216); padding-top: 80px;">
        <div style="display: flex; ">
            <div style="width: 50%;">
                <h1>Welcome to Blue Orchid About page!</h1>
            </div>
            <div style="width: 50%;">
                <img src="https://dsm01pap001files.storage.live.com/y4mbutesw2hwD_p7446Y3BVMUEkyCZBw5nsppyHeux0Ku-PO9f8eu2VWSUEaFUucVaZ8nBU4DBRrY80AAzXS2mclR2UXtrmbI4vBLiYs0RrCR5tTKWJrFrxg-xpBtZWGbdl8tiZq-2vRXxKTuTwSvIHFvfWoLSGWfn2zkaK94Jv2z_PgBudnMtqJLnAvaXzwsGl?width=1467&height=966&cropmode=none"
                    width="100%" alt="pencil sketch of the company logo blue orchid" />
            </div>
        </div>

        <div style="display: flex;">
            <div style="width: 50%;">
                <img src="https://dsm01pap001files.storage.live.com/y4mzdhxdKy-Xcp6V-GcB6SzPVVE7i5VgxsqUOR90wDnML6bVqbGS9DZV5lYADclWaws6BxTk6K-4B4G8uFqtsHnh_AWsUeObWcEGrTH4WcC5R8R1Ht6cIEZX1Zs1OQLDZBYZBejPsO5wWCYSI_dskQpyQGuMHEcIIsrXM2tWmASKAyjGvS5WH4NDxKLxzoKcMxd?width=665&height=374&cropmode=none"
                    width="100%" alt="blue orchid logo" />
            </div>
            <div style="width: 50%;">

            </div>




        </div>


        <%- include ("_partial/_footer.ejs") %>