<%- include ("_partial/_header.ejs") %>

    <!-- Background image -->
    <div id="intro" class="bg-image" style="
        background-image: url(https://www.wholeblossoms.com/wedding-flowers-blog/wp-content/uploads/2018/12/picture_59688-min.jpg);
        height: 100vh;
    ">

        <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">
            <div class="container d-flex align-items-center text-center h-100">
                <div>
                    <h1 class="mb-5">Welcome to Blue Orchid</h1>
                    <p>
                        Live<br>Your<br>Dream
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Background image -->

    <h1>Welcome to Blue Orchid!</h1>

    <%- include ("_partial/_footer.ejs") %>