<%- include ("../_partial/_header.ejs") %>

    <div style="padding-top: 80px;">

        <div style="display: flex; ">

            <div style="width: 50%; padding: 100px;">
                <h1 class="display-3">What's About Us!</h1>
                <p style="text-align: justify;" class="lead">
                    Our majestic ballrooms, elegant courtyard, open garden spaces and a charming little village make
                    sure your vows feel as heavenly as they really are. Thoughtfully designed, they ensure an experience
                    as smooth as your marriage ought to be.
                </p>
            </div>

            <div style="width: 50%;" class="bg-image hover-zoom">
                <img src="https://dsm01pap001files.storage.live.com/y4mbutesw2hwD_p7446Y3BVMUEkyCZBw5nsppyHeux0Ku-PO9f8eu2VWSUEaFUucVaZ8nBU4DBRrY80AAzXS2mclR2UXtrmbI4vBLiYs0RrCR5tTKWJrFrxg-xpBtZWGbdl8tiZq-2vRXxKTuTwSvIHFvfWoLSGWfn2zkaK94Jv2z_PgBudnMtqJLnAvaXzwsGl?width=1467&height=966&cropmode=none"
                    width="100%" class="w-100" alt="pencil sketch of the company logo blue orchid" />
            </div>

        </div>

        <div style="display: flex;">

            <div style="width: 50%;" class="bg-image hover-zoom">
                <img src="https://images.unsplash.com/photo-1599167036403-994f9e91e192?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                    width="100%" class="w-100" alt="picture of an outdoor wedding">
            </div>

            <div style="width: 50%; padding: 100px;">
                <h1 class="display-3">Why work with us</h1>
                <p style="text-align: justify;" class="lead">
                    We lay out a sumptuous spread of the most delightful local and international cuisines, so that you
                    and your guests can truly relish the wonderful occasion. From delish appetisers to a rich main
                    course to divine desserts, all of it ensure your wedding leaves an aftertaste that is fondly
                    remembered for years to come.
                </p>
            </div>

        </div>

        <!--<img src="https://dsm01pap001files.storage.live.com/y4mzdhxdKy-Xcp6V-GcB6SzPVVE7i5VgxsqUOR90wDnML6bVqbGS9DZV5lYADclWaws6BxTk6K-4B4G8uFqtsHnh_AWsUeObWcEGrTH4WcC5R8R1Ht6cIEZX1Zs1OQLDZBYZBejPsO5wWCYSI_dskQpyQGuMHEcIIsrXM2tWmASKAyjGvS5WH4NDxKLxzoKcMxd?width=665&height=374&cropmode=none"
            width="100%" class="w-100" alt="blue orchid logo" />-->
    </div>

    <%- include ("../_partial/_footer.ejs") %>