<%- include ("../_partial/_header.ejs") %>

    <div style="padding-top: 80px;">

        <div style="display: flex; ">
            <img src="https://imgur.com/FczQxBm.png" style="height: 10%; width: 40%; margin-left: 30px;" alt="GetHall" />

            <div style="width: 50%; padding: 100px;">
                <h1 class="display-3"><span>What's</span> <span>About</span> <span>Us!</span></h1>
                <p style="text-align: justify;" class="lead">
                    Our majestic ballrooms, elegant courtyard, open garden spaces and a charming little village make sure your vows feel as heavenly as they really are. Thoughtfully designed, they ensure an experience as smooth as your marriage ought to be.
                </p>
            </div>

        </div>

        <div style="display: flex;">

            <div style="width: 50%; padding: 100px;">
                <h1 class="display-3"><span>Why</span> <span>work</span> <span>with</span> <span>us</span></h1>
                <p style="text-align: justify;" class="lead">
                    We believe in indulgence done right at this luxury hall services in UiTB Shah Bandar, treating our guests to deliciously fresh cuisine, abundant treats and Malaysian flavours that are unmistakably GetHall, all served with a generous portion of heartfelt
                    care in all our restaurants.
                </p>
            </div>

            <img src="https://imgur.com/XVa44T4.png" style="height: 10%; width: 40%; margin-right: 30px;" alt="GetHall" />

        </div>

        <!--<img src="https://dsm01pap001files.storage.live.com/y4mzdhxdKy-Xcp6V-GcB6SzPVVE7i5VgxsqUOR90wDnML6bVqbGS9DZV5lYADclWaws6BxTk6K-4B4G8uFqtsHnh_AWsUeObWcEGrTH4WcC5R8R1Ht6cIEZX1Zs1OQLDZBYZBejPsO5wWCYSI_dskQpyQGuMHEcIIsrXM2tWmASKAyjGvS5WH4NDxKLxzoKcMxd?width=665&height=374&cropmode=none"
            width="100%" class="w-100" alt="blue orchid logo" />-->
    </div>

    <%- include ("../_partial/_footer.ejs") %>