<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
	<!-- Section: Social media -->
	<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
		style="background-color: #222222;">
		<div>
			<div style="display: flex;">

				<div class="me-5 d-none d-lg-block">
					<span>Connect with us:</span>
				</div>

				<div>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-google"></i>
					</a>
					<a href="" class="me-4 link-secondary">
						<i class="fab fa-instagram"></i>
					</a>
				</div>

			</div>
			

			<div class="container text-center text-md-start mt-5">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
						<!-- Content -->
						<h6 class="text-uppercase fw-bold mb-4">
							<div style="display: flex;">
							<div>
								<img src="https://dsm01pap001files.storage.live.com/y4m9L7-YkjiGfJlZOb3p7AQmEmdGzJN1LQGKZ2eTGm_L9mQz-awf4dwhZhJeMvKfiof-6tcdsIJty3MGOguz8C_nCekr2JEmDmlge5YIUG0bJbqu_qprxqjcPd2sM9zAPuxhMbIkYC9Wei1w7Uu3Vls22nM8l64zGpECe5wtdYIiOyDvHKVEtUzfyHIFK_GCi4h?width=315&height=764&cropmode=none" 
								width="15"/>
							</div>
							
							<div style="position: relative;"><span style="bottom: 0; position:absolute;"> Blue Orchid</span></div>
						</div>
						</h6>
						<p>
							Here you can use rows and columns to organize your footer content. Lorem ipsum
							dolor sit amet, consectetur adipisicing elit.
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Products
						</h6>
						<p>
							<a href="#!" class="text-reset">Angular</a>
						</p>
						<p>
							<a href="#!" class="text-reset">React</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Vue</a>
						</p>
						<p>
							<a href="#!" class="text-reset">Laravel</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">
							Useful links
						</h6>
						<p>
							<a href="/about" class="text-reset">About</a>
						</p>
						<p>
							<a href="/contact" class="text-reset">Contact Us</a>
						</p>
						<p>
							<a href="/halls" class="text-reset">View Halls</a>
						</p>
						<p>
							<a href="/reservation" class="text-reset" target="_blank">Make a Reservation</a>
						</p>
						<p>
							<a href="/login" class="text-reset">Admin Login</a>
						</p>
					</div>
					<!-- Grid column -->

					<!-- Grid column -->
					<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
						<!-- Links -->
						<h6 class="text-uppercase fw-bold mb-4">Contact</h6>
						<p><i class="fas fa-home me-3 text-secondary"></i> Colombo, Sri Lanka</p>
						<p>
							<i class="fas fa-envelope me-3 text-secondary"></i>
							blueorchid@gmail.com
						</p>
						<p><i class="fas fa-phone me-3 text-secondary"></i> + 94 11 5678 888</p>
						<p><i class="fas fa-print me-3 text-secondary"></i> + 94 11 5678 888</p>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</div>
	</section>
	<!-- Section: Links  -->

	<!-- Copyright -->
	<div class="text-center p-4" style="background-color: #222222;">
		© 2022 Copyright:
		<a class="text-reset fw-bold" href="">blueorchid.com</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->

</body>

</html>