<%- include ("../../_partial/_header.ejs") %>

    <div style="padding: 8% 5% 5% 5%;">
        <h3 class="display-6">Events List</h3>

        
    </div>

    <%- include ("../../_partial/_footer.ejs") %>